# .coveragerc

[run]
branch = True
source = src/{{ cookiecutter.project_slug }}
omit =

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    pragma: no cover
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:

ignore_errors = True
